@font-face {
  font-family: 'pacificoregular';
  src: url('fonts/pacifico/pacifico-webfont.eot');
  src: url('fonts/pacifico/pacifico-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/pacifico/pacifico-webfont.woff2') format('woff2'), url('fonts/pacifico/pacifico-webfont.woff') format('woff'), url('fonts/pacifico/pacifico-webfont.ttf') format('truetype'), url('fonts/pacifico/pacifico-webfont.svg#pacificoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'glacial_indifferenceregular';
  src: url('fonts/glacial-indifference/glacialindifference-regular-webfont.eot');
  src: url('fonts/glacial-indifference/glacialindifference-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/glacial-indifference/glacialindifference-regular-webfont.woff2') format('woff2'), url('fonts/glacial-indifference/glacialindifference-regular-webfont.woff') format('woff'), url('fonts/glacial-indifference/glacialindifference-regular-webfont.ttf') format('truetype'), url('fonts/glacial-indifference/glacialindifference-regular-webfont.svg#glacial_indifferenceregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  background-color: hsl(53, 62%, 95%);
  font-family: 'glacial_indifferenceregular', sans-serif;
}

header {
  background: url('images/pexels-photo-2884864.jpeg');
  background-size: cover;
  background-position: center;
  height: 30em;
}

header h1 {
  padding: 2em;
  font-family: 'pacificoregular';
  font-size: 3em;
  font-weight: lighter;
  color: hsl(25, 48%, 30%);
}

.menu {
  display: flex;
  position: absolute;
  top: 0;
  width: 100%;
  font-size: 1.1em;
  list-style-type: none;
  justify-content: space-evenly;
}

.menu:hover {
  display: none;
}

a {
  color: hsl(25, 62%, 44%);
  text-decoration: none;
}

/*footer*/

.logo {
  margin: 0;
  width: 8em;
  height: 8em;
  position: absolute;
  right: 2em;
  transition: 500ms linear;
}

.logo:hover {
  transform: scale(1.5);
}